.section_top_border {
  width: calc(80%);
  border-top: 1px solid #e0e0e0;
  margin: 60px auto 0;
  padding: 8px 24px 56px 22px;
}
.general > div {
  padding: 16px;
  height: 272px;
}
.panel {
  height: 240px;
  margin-bottom: -20px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);
}
.panel-heading {
  height: 79px;
  background: #2e9be4 !important;
}
.panel-heading .panel-title {
  font-size: 1.6em;
  line-height: 58px;
  color: #fff;
}
.panel-body {
  height: 161px;
  border: none !important;
}
.panel-body li {
  padding: 4px 0;
  font-size: 1.3em;
}
