.nav_height {
  min-height: 73px;
  background: #fff;
  line-height: 73px;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-default .nav_text > li > a {
  color: #000;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 73px;
  font-size: 16px;
}
.navbar-default .nav_text > li > a:hover {
  color: #eb852e;
  font-size: 16px;
}
@media screen and (max-width: 998px) {
  .navbar-default .nav_text > li > a {
    font-size: 13px;
  }
}
.navbar-header .nav_logo h1 .a1 {
  display: block;
  width: 168px;
  height: 46px;
  background: url(../images/logo.jpg) no-repeat left, url(../images/logo1.jpg) no-repeat right;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  left: 41px;
  top: 15px;
}
@media screen and (max-width: 998px) {
  .navbar-header .nav_logo h1 .a1 {
    display: none;
  }
}
.navbar-header .nav_logo h1 .a2 {
  display: block;
  width: 35px;
  height: 46px;
  background: url(../images/logo.jpg) no-repeat left;
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
  left: 41px;
  top: 15px;
  transform: scale(0.8);
  display: none;
}
@media screen and (max-width: 998px) {
  .navbar-header .nav_logo h1 .a2 {
    display: block;
  }
}
.top_subnav {
  margin-top: 20px;
  border: none;
}
body {
  padding-top: 73px;
}
.titleMain {
  border-bottom: 1px solid #e0e0e0;
  background: #f5f5f5;
  padding-bottom: 44px;
}
.titleMain h2 {
  color: #333;
  text-align: center;
  margin-top: 67px;
  line-height: 36px;
  font-size: 36px;
}
.titleMain p {
  text-align: center;
  margin: 0 30%;
  font-size: 16px;
}
footer {
  width: 100%;
  background: #979797;
  position: relative;
}
.footer_container {
  padding: 0;
}
.navbar-text li {
  float: left;
}
@media screen and (max-width: 510px) {
  .navbar-text li {
    text-align: center;
  }
}
.navbar-text li a {
  color: #fff;
  font-size: 16px;
}
.navbar-text li:not(:last-child):after {
  content: "|";
  color: #fff;
  margin: 0 5px;
}
@media screen and (max-width: 510px) {
  .navbar-text li:not(:last-child):after {
    font-size: 16px;
  }
}
footer p {
  color: #fff;
  padding-top: 10px;
}
@media (min-width: 992px) {
  footer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375;
  }
}
@media screen and (max-width: 510px) {
  footer p {
    text-align: center;
    font-size: 16px;
  }
}
.follow {
  padding-top: 10px;
  float: right;
}
.follow a {
  color: #fff;
}
@media screen and (max-width: 992px) and (min-width: 762px) {
  .follow {
    position: absolute;
    right: 100px;
    top: 20px;
  }
}
@media screen and (max-width: 762px) {
  .follow {
    float: left;
  }
}
@media screen and (max-width: 510px) {
  .follow {
    display: block;
    margin: 0 auto;
  }
}
.button.github-button {
  display: inline-block;
  height: 18px;
  margin-bottom: 5px;
  padding: 0 5px;
  outline: 0;
  border: 1px solid #d1d2d3;
  border-radius: 0.25em;
  box-sizing: content-box;
  background-color: #eff3f6;
  /* background-image: -webkit-linear-gradient(top, #fafbfc, #e4ebf0); */
  background-image: -moz-linear-gradient(top, #fafbfc, #e4ebf0);
  background-image: linear-gradient(to bottom, #fafbfc, #e4ebf0);
  background-repeat: repeat-x;
  background-size: 110% 110%;
  color: #24292e;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAFBFC', endColorstr='#FFE4EBF0')";
  *filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAFBFC', endColorstr='#FFE4EBF0');
}
.github-button:focus {
  border-color: #c8e1ff;
}
.github-button:active {
  background-color: #e9ecef;
  background-image: none;
  border-color: #afb1b2;
  box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
}
.github-button:hover {
  background-color: #e6ebf1;
  background-image: -webkit-linear-gradient(top, #f0f3f6, #dce3ec);
  background-image: -moz-linear-gradient(top, #f0f3f6, #dce3ec);
  background-image: linear-gradient(to bottom, #f0f3f6, #dce3ec);
  border-color: #afb1b2;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0F3F6', endColorstr='#FFDCE3EC')";
  *filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0F3F6', endColorstr='#FFDCE3EC');
}
.octicon {
  position: relative;
  display: inline-block;
  fill: currentColor;
  height: 14px;
  top: 2px;
}
.github-button span {
  vertical-align: 1px;
}
